.message-bubble-bot {
  align-items: flex-start;
  display: flex;
  gap: 8px;
  padding: 0px 48px 0px 0px;
  position: relative;
  width: 100%;
}

.message-bubble-bot .mascot-avatar {
  height: 40px !important;
  position: relative !important;
  width: 40px !important;
}

.message-bubble-bot .design-component-instance-node {
  font-family: var(--fluentify-text-p1-font-family) !important;
  font-size: var(--fluentify-text-p1-font-size) !important;
  font-style: var(--fluentify-text-p1-font-style) !important;
  font-weight: var(--fluentify-text-p1-font-weight) !important;
  letter-spacing: var(--fluentify-text-p1-letter-spacing) !important;
  line-height: var(--fluentify-text-p1-line-height) !important;
  
}


.message-bubble-bot-item {
  background-color: var(--fluentifyprimary) !important;
  width: 100%;
}
