.multiple-choice {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 0px 40px;
    position: relative;
    width: 100%;
  }
  
  .multiple-choice .questions {
    align-items: flex-start;
    align-self: stretch;
    background-color: var(--white);
    border: 1px solid;
    border-color: var(--slate-100);
    border-radius: 5px;
    box-shadow: var(--grey);
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    position: relative;
    width: 100%;
  }
  
  .multiple-choice .frame-2 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    position: relative;
    width: 100%;
  }